PORT=8080

DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=library-test1

DB_DSN=postgres://postgres:password@localhost:5432/library-test1?sslmode=disable

RATE_LIMIT_RPS=5
RATE_LIMIT_BURST=5

SHUTDOWN_TIMEOUT=10s

ALLOWED_ORIGINS=http://127.0.0.1:5500,http://localhost:5500

APP_ENV=development